# Web cache
.vscode/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
*.egg-info/

# Environments
nllm_env/
node_modules/

# Data directories
data/

# Model checkpoints and saved models
*.pth
*.pt
!model_only.pt
*.h5
*.ckpt
*.model
*.rar

# OS specific files
.DS_Store
Thumbs.db

# Processed data files
*.npz
*.npy
*.pkl